/*
Place your custom CSS here
*/
div.simplelistwidget.simplelistwidget-preview div.simplelistwidget-item {
    border: 1px solid #D7D7D7;
}

div.simplelistwidget-lined div.simplelistwidget-item {
    border-top: 1px solid #D7D7D7;
}

div.simplelistwidget-lined div.simplelistwidget-item:last-child {
    border-bottom: 1px solid #D7D7D7;
}

div.simplelistwidget-lined div.simplelistwidget-item.simplelistwidget-selected {
    background-color: #F7F7F7;
}
